<h1>Available Puppies</h1>

<form method="post" action="/new">
  <p><label for="name">Name:</label><input type="text" name="name" value=""></p>

  <p><label for="breed">Breed:</label><input type="text" name="breed" value=""></p>

  <p><label for="age">Age:</label><input type="text" name="age" value=""></p>

  <button type="submit" value="submit">submit</button>
</form>
